<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About Page</title>
</head>

<body>
    {{>header}}
    <img src="/img/homer_brain.jpg">
    {{>footer}}
</body>

</html>
