<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png"> 
    <title>Weather Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>

        <p id="msg-1"></p>
        <p id="msg-2"></p>
        <p id="msg-3"></p>
        <img id="weather-icon">
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>
