<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help Page</title>
</head>

<body>
    <h1>{{title}}</h1>
    <p>{{msg}}</p>
    <p>Created by {{name}}</p>
</body>

</html>
